body {
    margin: 0 auto;
}

#mainContainer {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
}