body {
    margin: 0 auto;
}

#mainContainer {
    margin: 0 auto;
    text-align: center;
    height: 600px;
}

#informationContainer {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#controlList {
    margin: 0 auto;
    text-align: left;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
}